################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TFSPipelineHealthCheck/bin
/TFSPipelineHealthCheck/obj
/.vs
/TFSPipelineHealthCheck/TFSPipelineHealthCheck.csproj.user
