<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="tfsurl" value=""/> <!-- http://hostname:8080/tfs -->
    <add key="smtp" value=""/> <!--smtp server name or IP address-->
    <add key="port" value="25"/> <!--smtp server port-->
    <add key="from" value=""/> <!-- john@smith.com -->
    <add key="to" value=""/>  <!--john@smith.com;dave@john.com-->
    <add key="include" value=""/> <!--semicolon separated list of agent names-->
    <add key="exclude" value=""/> <!--semicolon separated list of agent names-->
    <add key="includeHost" value=""/> <!--semicolon separated list of agent's host-->
    <add key="excludeHost" value=""/> <!--semicolon separated list of agent's host-->
    <add key="AgentHealthCheckInterval" value="1000"/> <!--miliseconds-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>